[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk-lib" = "2.8.0"
"aws-cdk.aws-batch-alpha" = "2.8.0a0"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
